{% extends "base.html" %}
{% block title %}{{ super() }}Home{% endblock %}
{% block content %}
    <img src="{{url_for('static', filename='banner.png')}}" class="banner" align="middle"/>
    <div class="{{ name }}-container">
    </div>
    <h3>Warehouse</h3>
    <p>devices: {{ locations['warehouse'] }}</p>
    <h3>Truck</h3>
    <p>devices: {{ locations['truck'] }}</p>
    <h3>Site</h3>
    <p>devices: {{ locations['site'] }}</p>
    <br>
    <br>
    <h3>Beacon Info</h3>
    <table border = 1>
      {% for key, value in beacons.items() %}

      <tr>
         <th> {{ key }} </th>
         <td> RSSI: {{ value[0] }} dB</td>
         <td> location: {{ value[1] }} </td>
         <td> TTL: {{ value[2] }} </td>
      </tr>

      {% endfor %}
    </table>
{% endblock %}
